.section, .resultado {
  font-family: "raleway", sans-serif; }

.figure__imagem img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.resultados {
  display: flex;
  flex-direction: column; }

.resultado {
  width: 45%;
  max-width: 550px;
  height: 38%;
  background-color: pink;
  border: 1px solid black;
  position: relative; }
  .resultado figure {
    width: 100%;
    height: 100%;
    background-color: tomato;
    margin: 0;
    display: inline-flex; }
    .resultado figure figcaption {
      display: inline-block;
      width: 50%;
      padding-left: 19px;
      padding-top: 10px;
      box-sizing: border-box; }
      .resultado figure figcaption ul {
        list-style-type: none;
        padding: 0; }

.figure__imagem {
  width: 50%;
  position: relative; }
  .figure__imagem img {
    width: 95%; }

.resultados__titulo {
  text-align: center; }

.resultados__container {
  display: flex;
  width: 100%;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly; }

.section_inner {
  display: inline-block;
  font-family: "raleway", sans-serif;
  width: 80%;
  height: 200px;
  position: relative;
  background-color: #ebebeb; }

.resultado-container:not(:last-child) {
  margin-bottom: 20px; }

.resultado-all {
  border: 2px solid black;
  display: inline-flex;
  flex-direction: column;
  font-family: "raleway", sans-serif;
  width: 63%;
  height: auto;
  position: relative;
  padding-bottom: 47px; }

.section-inner__content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .section-inner__content h4 {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-weight: 700; }
  .section-inner__content p {
    font-size: 20px;
    font-weight: 300;
    margin: 4px 0px 20px 0px; }

.section_inner__content {
  width: 80%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left; }

.seletor {
  width: 50%;
  height: 18%;
  font-size: 25px;
  border: 1px solid #A9A9A9;
  display: inline-block;
  font-weight: 200;
  box-sizing: border-box;
  background-color: white;
  border-radius: 300px; }

.botao-onde {
  width: 40%;
  box-sizing: border-box;
  color: white;
  margin-top: -20px;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  background-color: black;
  height: 17.5%;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  bottom: 2px;
  transition: .7s; }
  .botao-onde:hover {
    background-color: white;
    color: black; }

.resultado-titulo {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  margin-bottom: 65px;
  margin-top: 67px; }
  .resultado-titulo h4 {
    font-size: 30px;
    margin: 0;
    font-weight: 400;
    line-height: 1.2; }

option {
  background-color: black; }

.resultado-container {
  width: 94%;
  height: 250px;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  top: 40%;
  left: 52%;
  transform: translate(-50%); }

.sinopse-parte {
  width: 60%;
  position: relative; }
  .sinopse-parte h4 {
    font-size: 1.9em;
    margin: 0;
    display: block;
    position: relative;
    top: 3%;
    margin-bottom: 27px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    text-align: left; }

.imagem-parte {
  width: 40%;
  position: relative;
  overflow: hidden;
  border: 13px solid transparent;
  box-sizing: border-box; }

.imagem-loja {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%); }

.lista-dados {
  position: relative;
  display: inline-block;
  top: 32%;
  left: 5%;
  max-width: 85%;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.lista-dados li:not(:last-child) {
  margin-bottom: 13px; }

.lista-dados li::before {
  content: "-"; }

.lista-dados a {
  color: black;
  text-decoration: underline;
  transition: .2s; }
  .lista-dados a:hover {
    font-weight: bold; }

.resultado-display {
  display: none; }

.section {
  text-align: center;
  display: inline-block;
  width: 100%; }

.content__select {
  width: 70%;
  height: 30%;
  display: inline-block; }

/*# sourceMappingURL=master.css.map */
